* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
      font-family: "NavMonkey";
      src: url("../fonts/lucasarts-scumm-solid.otf") format("woff");
      font-weight: normal;
      font-style: normal;
    }

@font-face {
      font-family: "titulosMonkey";
      src: url("../fonts/WEATHERD.TTF") format("woff");
      font-weight: normal;
      font-style: normal;
    }

@font-face {
      font-family: "textoMonkey";
      src: url("../fonts/Trattatello-wc.ttf") format("woff");
      font-weight: normal;
      font-style: normal;
    }

@font-face {
      font-family: "especialMonkey";
      src: url("../fonts/lucasarts-scumm-credits.otf") format("woff");
      font-weight: normal;
      font-style: normal;
    }


.encabezado {
    background-color:rgba(127, 255, 212, 0.883);
    font-size: clamp(16px, 3vw, 55px);
    font-style: italic;
    font-family: "titulosMonkey";
    color: brown;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 1px; 
}


/* Formateo del Nav y las lista de links */

.nav1 {
    border: 1px solid  lightgreen;
    background-color: rgb(103, 206, 234);
    font-family: "NavMonkey";
    color: rgb(235, 235, 235);
    justify-content: space-evenly;
    align-content: center;
    display: flex;
    flex-direction: row;
    font-style: italic;
    font-size: clamp(10px, 1.1vw, 50px);
    padding: 0.5vw;
}


.a1 {
    text-decoration: none;
    color: rgb(0, 136, 255);
}

.a2 {
    text-decoration: none;
    color: rgb(0, 101, 190);
}

.titulo1 {
    font-size: 3vw;
    text-decoration: underline;
}


.ul1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px; /* Lo agregué porque aparecía un padding left de 40px por alguna razón */
    gap: 40px;
}

.ol1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.bienvenida {
    background-color: blanchedalmond;
    text-align: center;
    border: 1px groove rgb(0, 184, 0);
    border-radius: 1px;
    font-family: "textoMonkey", Verdana, Tahoma, sans-serif;
    padding-top: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
    font-size: 1.5vw;
}

/* Formulario / Contacto */

.contacto {
  background-color: blanchedalmond;
  text-align: center;
  border: 1px groove rgb(0, 184, 0);
  border-radius: 1px;
  font-family: "textoMonkey", Verdana, Tahoma, sans-serif;
  padding-top: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  font-size: 1.5vw;
}

.tit-contacto {
  font-size: clamp(32px, 8vw, 64px);
  text-align: center;
}

.subtit-contacto {
  font-size: clamp(16px, 4vw, 24px);
  text-align: center;
}

.form-container {
  text-align: center;
  margin: 32px;
}

.formulario {
  background-color: rgb(216, 182, 130);
  font-size: clamp(20px, 4vw, 30px);
  border: 2px solid rgb(170, 155, 196);
  border-radius: 8px;
  width: auto;
  min-width: 330px;
  margin: auto;
  padding-top: 1vh;
}

.mensaje {
  border: 1px solid rgb(170, 155, 196) ;
  padding: 2px;
  font-family: Tahoma, Verdana, sans-serif;
}


.btn-enviar {
  margin-bottom: 32px;
  padding: 8px;
  background-color: rgb(136, 106, 60);
  color: #e9eefc;
  font-size: 16px;
  border-radius: 8px;
}

.btn-enviar:hover {
  background-color: #4b4b04;
}

input[type=text],[type=email], [type=number], textarea {
  color: rgb(67, 67, 67);
  border: none;
  font-size: clamp(16px, 4vw, 30px);
}

input[type=text] {
  border-bottom: 1px solid rgb(136, 106, 60);
}

input[type=email] {
  border-bottom: 1px solid rgb(136, 106, 60);
}

select {
  font-size: clamp(4px, 4vw, 30px);
  max-width: 300px;
}


/* Tabla de registrados */

.registrados {
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  text-align: center;
  font-family: "textoMonkey", Verdana, Tahoma, sans-serif;
  font-size: 1.5vw;
  padding-bottom: 10px;
}

.tit-tabla {
  font-size: clamp(32px, 8vw, 64px);
  text-align: center;
}

.tit-tabla2 {
  font-size: clamp(26px, 4vw, 64px);
  text-align: center;
}

.tabla {
    width: 90vw; /* O un ancho específico */
    margin: 0 auto; /* Centra la tabla horizontalmente */
    max-width: 1000px;
    border: 2px solid rgb(0, 1, 79); 
    border-collapse: collapse
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}


/* Resumenes */

.resumen {
  background-color: blanchedalmond;
  text-align: center;
  border: 1px groove green;
  font-family: "textoMonkey", Verdana, Tahoma, sans-serif;
  padding-top: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  font-size: clamp(12px, 1.5vw, 30px);
}

.resum-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

.resum-item {
  border: 6px ridge rgb(1, 149, 1);
  border-radius: 8px;
  padding: 8px;
}

.tituloR {
    font-size: clamp(10px, 3vw, 36px); /* antes 3vw font-size: clamp(minimum, preferred, maximum) */
    text-decoration: underline;
    text-align: center;
    margin: 10px;
}

.portada {
    width: 280px;
    height: auto;
}

.audio1 {

    /* width: 25vw; */
    height: auto;
}

.resum-texto {
  width: 360px;
  margin-bottom: 8px;
  text-align: center;
}

.intro {
  text-decoration: none;
  color: rgb(159, 80, 24);
  font-size: 3vw;
}

.intro:hover {
  text-decoration: none;
  color: rgb(219, 113, 37);
  font-size: 4vw;
}

.resum-tit-cap {
  font-size: clamp(5px, 1.5vw, 30px); /* font-size: clamp(minimum, preferred, maximum) */
}

/* Productos */

.productos {
  background-color: blanchedalmond;
  text-align: center;
  border: 1px groove rgb(0, 184, 0);
  border-radius: 1px;
  font-family: "textoMonkey", Verdana, Tahoma, sans-serif;
  padding-top: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  font-size: 1.5vw;
}

.tit-prod {
  text-align: center;
  margin: 10px 0;
  font-size: clamp(16px, 6vw, 70px);
  color: rgb(130, 66, 20);
}

.prod-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

.prod-item {
  border: 2px solid darkblue;
  border-radius: 8px;
  padding: 8px;
}

.item-tit {
  text-align: center;
  margin-bottom: 8px;
  font-size: clamp(16px, 4vw, 30px);
  font-weight: 600;
  color: rgb(173, 87, 25);
}

.imagen-card {
  width: 280px;
}

.precio {
  font-size: 24px;
  font-weight: 600;
  margin: 8px 0;
}

.off {
  color: green;
}

.descripcion {
  width: 280px;
  margin-bottom: 8px;
  font-size: clamp(14px, 3.5vw, 30px);
}

.botonera {
  text-align: center;
}

.btn-agregar {
  background-color: #576ec2;
  color: antiquewhite;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
}

.btn-agregar:hover {
  background-color: #041550;
}


/* FOOTER */

.footer {
  background-color:rgb(16, 36, 189);
  color: azure;
  font-family: fantasy, Verdana, Tahoma, sans-serif;
  font-style: italic;
  font-size: clamp(16px, 2vw, 30px);

  padding-top: 1vw;
  padding-bottom: 1vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}

.footer-mapa {
  border: 2px solid white;
  height: auto;
  width: 220px;
}

.footer-ul {
  list-style-type: none;
  font-family: 'BBH Sans Bogle', Verdana, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1vh;
  font-size: clamp(20px, 2.5vw, 30px);
}

footer a {
    color: azure;
}


/* ACA ESTA LO QUE QUEDA DE FOOTER DEL PROFESOR */
.footer-links {
  width: 25%;
}

.footer-redes {
width: 25%;
}



