* {
    margin: 0;
    box-sizing: border-box;
}

body {
  line-height: 1.4;
}

@font-face {
      font-family: "NavMonkey";
      src: url("../fonts/lucasarts-scumm-solid.otf") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

@font-face {
      font-family: "titulosMonkey";
      src: url("../fonts/WEATHERD.TTF") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

@font-face {
      font-family: "textoMonkey";
      src: url("../fonts/Trattatello-wc.ttf") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

@font-face {
      font-family: "especialMonkey";
      src: url("../fonts/lucasarts-scumm-credits.otf") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

.main {
  background-image: url(../imagenes/fondo3_M.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main-productos {
  background-image: url(../imagenes/fondo4_M.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.encabezado {
    background-image: url(../imagenes/FondoHead_M.jpg);
    background-size: contain;
    /* background-color:rgba(127, 255, 212, 0.883); */
    font-size: clamp(16px, 3vw, 55px);
    font-style: italic;
    font-family: "titulosMonkey";
    color: brown;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 0px; 
}

.titulohead {
    font-size: clamp(16px, 3vw, 55px);
    font-style: italic;
    font-family: "titulosMonkey";
    color: brown;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 2px 2px 2px black;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 1px; 
}

/* Formateo del Nav y las lista de links */

.nav1 {
    background-image: url(../imagenes/FondoNav_M.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: rgb(103, 206, 234); */    
    font-family: "NavMonkey";
    color: rgb(235, 235, 235);
    justify-content: space-evenly;
    align-content: center;
    display: flex;
    flex-direction: row;
    font-style: italic;
    font-size: clamp(10px, 1.1vw, 50px);
    padding: 0.5vw;
    position: sticky;
    top: 0;
}

.nav2 {
    border: 1px solid rgba(0, 0, 0, 0.609);
    background-image: url(../imagenes/FondoNav_M.jpg);
    background-size: cover;
    /* background-color: rgb(103, 206, 234); */
    font-family: "NavMonkey";
    color: rgb(235, 235, 235);
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 2px 2px 2px grey;
    justify-content: space-around;
    align-content: center;
    display: flex;
    flex-direction: row;
    font-style: italic;
    font-size: clamp(10px, 1.1vw, 50px);
    padding: 0.5vw;
}

.a1 {
    text-decoration: none;
    /* color: rgb(0, 136, 255);*/
    color: azure;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 2px black;
}

.a2 {
    text-decoration: none;
    color: rgb(0, 101, 190);
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 2px 2px 2px black;
}

nav a:focus {
  text-shadow: 4px 4px 3px rgb(0, 0, 0);
}

.titulo1 {
    font-size: 3vw;
    text-decoration: underline;
}


.menu-principal {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px; /* Lo agregué porque aparecía un padding left de 40px por alguna razón */
    gap: 40px;
}

.menu-resumen {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding-left: 5px;  Lo agregué porque aparecía un padding left de 40px por alguna razón */
    gap: 40px;
}

.ol1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bienvenida {
    background-image: url(../imagenes/FondoHead2_M.jpg);
    background-size: contain;
    /* background-color: blanchedalmond; */
    text-align: center;
    border: 1px groove rgb(0, 184, 0);
    border-radius: 1px;
    font-family: "textoMonkey", Verdana, Tahoma, sans-serif;
    padding-top: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
    font-size: 1.5vw;
}


/* Resumenes */

.resumen {
  /* background-color: blanchedalmond; */
  text-align: center;
  border: 1px groove green;
  font-family: "textoMonkey", Verdana, Tahoma, sans-serif;
  padding-top: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  font-size: clamp(12px, 1.5vw, 30px);
}

.resum-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

.resum-item {
  background-color: rgba(255, 235, 205, 0.64);
  border: 6px ridge rgb(1, 149, 1);
  border-radius: 8px;
  padding: 8px;
  
  flex: 1 1 450px; /* permite que se ajusten y bajen de línea */
  max-width: 90vw;

}

.tituloR {
  font-size: clamp(24px, 3vw, 36px); /* antes 3vw font-size: clamp(minimum, preferred, maximum) */
  text-decoration: underline;
  text-align: center;
  margin: 10px;
}

.portada {
  border: 2px solid black;
  width: 280px;
  height: auto;
}

.audio1 {
  /* width: 25vw; */
  height: auto;
  min-height: 20px;
}

.resum-texto {
  width: 80%;
  min-width: 300;
  text-align: center;
  font-size: clamp(16px, 3vw, 36px);
  margin: 0 auto;
  margin-bottom: 8px;

}

.intro {
  text-decoration: none;
  color: rgb(159, 80, 24);
  font-size: 3vw;
  padding-bottom: 16px;
}

.intro:hover {
  text-decoration: none;
  color: rgb(219, 113, 37);
  font-size: 4vw;
}

.resum-tit-cap {
  font-size: clamp(16px, 1.5vw, 30px); /* font-size: clamp(minimum, preferred, maximum) */
}

/* Productos */

.productos {
  /* background-color: blanchedalmond; */
  text-align: center;
  border: 1px groove rgb(0, 184, 0);
  border-radius: 1px;
  font-family: "textoMonkey", Verdana, Tahoma, sans-serif;
  padding-top: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  font-size: 1.5vw;
}

.tit-prod {
  text-align: center;
  margin: 10px 0;
  font-size: clamp(16px, 6vw, 70px);
  text-shadow: 1px 1px 1px black;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgba(255, 235, 205, 0.863);
  color: rgb(130, 66, 20);
  padding-bottom: 1vw;
}

.prod-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

.prod-item {
  background-color: rgba(255, 235, 205, 0.838);
  border: 4px groove darkgreen;
  border-radius: 8px;
  padding: 8px;
}

.prod-item:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease;
}


.item-tit {
  text-align: center;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 8px;
  font-size: clamp(16px, 4vw, 30px);
  font-weight: 600;
  color: rgb(173, 87, 25);
}

.imagen-card {
  width: 280px;
  border: 2px solid black;
}

.precio {
  font-size: 24px;
  font-weight: 600;
  margin: 8px 0;
}

.off {
  color: green;
}

.descripcion {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 8px;
  text-align: center;
  font-size: clamp(14px, 3.5vw, 30px);
}

.botonera {
  text-align: center;
}

.btn-agregar {
  background-color: #576ec2;
  color: antiquewhite;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
}

.btn-agregar:hover {
  background-color: #041550;
}


/* Formulario / Contacto */

/* POPUP */

/* Pixel Font opcional — si querés más estilo retro */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#mi-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.mi-popup-content {
  background: #2b0059; /* violeta Monkey Island */
  border: 4px solid #ffcc00; /* borde dorado LucasArts */
  color: #ffdd44;
  padding: 25px 35px;
  border-radius: 8px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  transform: scale(0.2);
  opacity: 0;
  box-shadow: 0 0 20px #ffcc00;
}

#mi-popup.show .mi-popup-content {
  animation: popIn 9.0s ease-out forwards;
}

/* ---- Animación estilo cartoon/retro ---- */
@keyframes popIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  60% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#mi-popup.show {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  /* display: none; */
}


.popup.error {
    background: #e53935;
}


/* FIN del POPUP */


fieldset {
  border: none;
}

.contacto {
  background: #ffdab0;
  background: radial-gradient(circle,rgba(255, 218, 176, 1) 0%, rgba(217, 169, 93, 1) 100%);
  /* background-image: url(../imagenes/FondoHead2_M.jpg);
  background-size: contain;  */
  /* background-color: blanchedalmond; */
  text-align: center;
  border: 1px groove rgb(184, 95, 0);
  border-radius: 1px;
  font-family: "textoMonkey", Verdana, Tahoma, sans-serif;
  padding-top: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tit-contacto {
  font-size: clamp(32px, 8vw, 64px);
  text-align: center;
}

.subtit-contacto {
  font-size: clamp(16px, 4vw, 24px);
  text-align: center;
}

.form-container {
  text-align: center;
  max-width: 1200px;
  margin: 32px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form-rowRadios {
    display: flex;  /* para que los radios queden en la misma línea */
    gap: clamp(1px, 2vw, 40px);    /* espacio entre las dos opciones */
    align-content: center;
    justify-content: center;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 4px; /* distancia mínima entre el input y el label (pegados) */
}

.form-row label {
    width: 120px; /* ajustable */
    font-weight: bold;
}

.form-row input, textarea, select {
    flex: 1;
}

.formulario {
  background-color: rgba(188, 159, 116, 0.674);
  font-size: clamp(20px, 4vw, 30px);
  border: 2px groove black;
  border-radius: 8px;
  width: auto;
  min-width: 330px;
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 1vh;
}

.mensaje {
  border: 1px solid rgb(170, 155, 196) ;
  padding: 2px;
  font-family: Tahoma, Verdana, sans-serif;
}


.btn-enviar {
  margin-bottom: 32px;
  padding: 8px;
  background-color: rgb(136, 106, 60);
  color: #e9eefc;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-enviar:hover {
  background-color: #4b4b04;
  transform: scale(1.05);
}

input[type=text],[type=email], [type=number], textarea {
  color: rgb(67, 67, 67);
  border: none;
  font-size: clamp(16px, 4vw, 30px);
}

input[type=text] {
  border-bottom: 1px solid rgb(136, 106, 60);
}

input[type=email] {
  border-bottom: 1px solid rgb(136, 106, 60);
}

select {
  align-self: center;
  font-size: clamp(4px, 4vw, 26px);
  max-width: 600px;
}

input:focus, textarea:focus, select:focus {
  outline: 2px solid #041550;
  outline-offset: 0px;
}

.formulario input, .formulario textarea, .formulario select {
  margin-bottom: 12px;
}


/* Tabla de registrados */

.registrados {
  display: flex;
  flex-direction: column;
  background-image: url(../imagenes/FondoHead2_M.jpg);
  background-size: contain;
  /* background-color: blanchedalmond; */
  text-align: center;
  font-family: "textoMonkey", Verdana, Tahoma, sans-serif;
  font-size: 1.5vw;
  padding-bottom: 10px;
}

.tit-tabla {
  font-size: clamp(32px, 8vw, 64px);
  text-align: center;
}

.tit-tabla2 {
  font-size: clamp(26px, 4vw, 64px);
  text-align: center;
}

.tabla {
  width: 90vw; /* O un ancho específico */
  margin: 0 auto; /* Centra la tabla horizontalmente */
  max-width: 1000px;
  border: 2px solid rgb(0, 1, 79); 
  font-size: clamp(12px, 2vw, 24px);
  border-collapse: collapse
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}


/* FOOTER */

.footer {
  background-color:rgb(16, 32, 153);
  color: azure;
  font-family: fantasy, Verdana, Tahoma, sans-serif;
  font-style: italic;
  font-size: clamp(16px, 2vw, 30px);

  padding-top: 1vw;
  padding-bottom: 1vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}

.footer-mapa {
  border: 2px solid white;
  height: auto;
  width: 220px;
}

.footer-ul {
  list-style-type: none;
  font-family: 'BBH Sans Bogle', Verdana, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1vh;
  font-size: clamp(20px, 2.5vw, 30px);
}
.footer-ul > li:hover {
  color: rgb(0, 255, 255);
  cursor: pointer;
}

footer a {
    color: azure;
}


/* Incorporación de media Queries */

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .nav2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: none;
    gap: 8px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

  }

  .nav2 > ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .a2 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }

  .contacto {
    background-size: cover;
  }
}

/* IA Correcciones */


@media only screen and (max-width: 480px) {
  .nav1, .nav2 {
    flex-direction: column;
    gap: 6px;
    font-size: clamp(12px, 4vw, 20px);
  }

  .menu-principal, .menu-resumen {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

@media (max-width: 600px) {
  .resum-container {
    flex-direction: column;
    align-items: center;
  }
}

.prod-item {
  flex: 1 1 300px;
  max-width: 90vw;
}

.imagen-card {
  width: 100%;
  max-width: 280px;
  height: auto;
}

@media (max-width: 600px) {
  .formulario {
    width: 90vw;
    font-size: clamp(14px, 4vw, 24px);
  }

  input, select, textarea {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: clamp(12px, 3vw, 20px);
    gap: 12px;
    text-align: center;
    flex-direction: column;
    }
  
  .footer-mapa {
    width: 180px;
  }
}

/* CSS de IA FORM */

@media (max-width: 768px) {
  .formulario {
    width: 90vw;
    max-width: 85vw;
    font-size: clamp(14px, 4vw, 24px);
  }

  input, select, textarea {
    width: 100%;
    max-width: 100%;
  }

  .contacto {
    padding: 4vw;
    padding-left: 1px;
    background-size: cover;
  }

  .tabla {
    width: 95vw;
    font-size: clamp(10px, 3vw, 20px);
  }

  th, td {
    padding: 4px;
  }
}


/* Estilo de los mensajes de error del formulario */

.error-msg {
    color: red;
    font-size: clamp(1.5vw, 15px, 6vw);
    font-style: oblique;
    margin-top: 4px;
    min-height: 1em;
}

.error {
    border-color: red !important;
}


/* CARRITO DE COMPRAS */

.total-favoritos {
  background-color: red;
  color: white;
  border-radius: 8px;
}

.item-cantidad {
  position: absolute;
}

.contenedor-productos {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}

.card {
  border: 2px solid black;
  border-radius: 8px;
  padding: 24px;
  overflow-wrap: break-word;
}

.card-fav img {
  width: clamp(80px, 5vw ,200px);
  height: auto;
}

.fav {
  background-color: #fff;
}

.btn-add, .btn-del {
  font-size: 24px;
  padding: 8px;
  border-radius: 8px;
  font-family: Michroma, Verdana, Tahoma, sans-serif;
}

.btn-del:hover {
  font-size: 26px;
  border: solid 2px red;
  color: red;
}

.btn-add:hover {
  font-size: 26px;
  border: solid 2px green;
  color: green;
}

.contenedor-favoritos {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 32px;
}


#item_cantidad {
  position: absolute;
  top: 0;
  right: 20px; /* Ajusta la posición horizontal */
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}


/* CARRITO PERO CON EL ICONO FLOTANDO */
/* CARRITO PERO CON EL ICONO FLOTANDO */


/* Ícono flotante */
#carrito-icono {
  position: fixed;
  top: 15px;
  right: 15px;
  background: #ab57ff;
  color: white;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: clamp(10px, 2vw, 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#carrito-icono span {
  background: #121212;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

/* Panel desplegable */
#carrito-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: clamp(320px, 50vw, 1000px);
  height: 100vh;
  background: rgb(222, 199, 165);
  border-left: 2px solid #ccc;
  box-shadow: -4px 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  display: none;             /* 👈 IMPORTANTE */
  flex-direction: column;
  overflow-y: auto;
  z-index: 998;
  animation: slide .4s;
}

#carrito-panel > h3 {
  font-size: 30px;
  font-style: oblique;
}

@keyframes slide {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

/* Cards dentro del carrito */
.card-fav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  overflow-wrap: break-word;
}

#delete_all {
  font-size: clamp(10px, 2vw, 90px);
  background-color: #79b6d4;
  padding: 8px;
  border-radius: 8px;
  font-family: Michroma, Verdana, Tahoma, sans-serif;
}

.btn-del {
  font-size: clamp(10px, 1.5vw, 90px);
  background-color: #79b6d4;
  padding: 8px;
  border-radius: 8px;
  font-family: Michroma, Verdana, Tahoma, sans-serif;
}

.btn-del:hover {
  font-size: clamp(10px, 1.5vw, 90px);
  background-color: #576ec2;
  border: solid 2px red;
  color: white;
}

@media (max-width: 900px) {
  #carrito-panel {
    width: clamp(320px, 80vw, 1000px);
  }
}


/* --- LOGIN MODAL --- */

.login-icon {
  cursor: pointer;
  margin-right: 100px;
   
  position: fixed;
  top: 15px;
  right: 15px;
  background: #576bff;
  color: white;
  padding: 10px 12px;
  border-radius: 50%;
  border-style:dotted ;
  border-color: #b3b815;
  font-size: clamp(20px, 3vw, 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}


.modal-login {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content-login {
  background: #2b0059;
  border: 4px solid #0ea500;
  padding: 25px 35px;
  color: #e0bf2c;
  border-radius: 10px;
  text-align: center;
  min-width: 280px;
  animation: popupLogin 0.3s ease-out;
}

@keyframes popupLogin {
  from {transform: scale(0.5); opacity: 0;}
  to   {transform: scale(1); opacity: 1;}
}

.modal-content-login input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 18px;
}

.btn-login-submit {
  width: 100%;
  margin-top: 10px;
  background:#3abf09;
  color:#ffffff;
  padding:10px;
  font-size:18px;
  border-radius:8px;
}

.close-login {
  float:right;
  font-size:28px;
  cursor:pointer;
  color:#ffcc00;
}
.close-login:hover { color:#fff; }

